body,h1,h2,h3,p,td,quote,small,form,input,ul,le,ol,label{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	margin-top:20px;
	color:#51555C;
	font-size:13px; /* 13 is best view */
	background-color:#123456;
	text-align:center;
}

.clear{
	clear:both;
}

a, a:visited {
	color:#007bc4;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

#rounded{
	width:800px;
	margin:20px auto;
	text-align:left;
}

.container{
	background-color:#FFFFFF;
	padding:10px 20px 40px 20px;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
	font-weight:normal;
	font-size:20px;
	
	color:#999999;
}

ul{
	margin:30px 0px;
}

le{
	list-style:none;
	display:block;
	float:left;
	/* width:80px; */
}

le a,le a:visited{
	padding:5px 10px;
	text-align:center;
	background-color:#000033;
	color:white;
	
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;

	display:block;
	margin-right:10px;
}

le a:hover{
	background-color:#666666;
	text-decoration:none;
}

#pageContent{
	margin-top:20px;

	border:1px dashed #cccccc;
	padding:10px;
		
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
}

#loading{
	visibility:hidden;
}

.demo{
	color:white;
}



ln a:link, ln a:visited {
    background-color: green;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


ln a:hover, ln a:active {
    background-color: blue;
}





/* Collapsible div */

.collapsiblea {
    background-color: #777;
    color: white;
    cursor: pointer;
    text-align: left;
}

.active, .collapsiblea:hover {
    background-color: #555;
}

.collapsiblea:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #f1f1f1;
} 


@media (max-width: 540px) {
    body {
        font-size:18px !important;
    }
}
/* subtitles css */
tr:nth-child(even) {background-color: #DFD9D9;}
.other-cell {
   display:none;
}

/* checkbox css start */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -2222px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 7px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 40px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 60px;
}

/* checkbox css end*/
/*position of switch*/
label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:2px;
}
/* === popup media player css start === */

/* background overlay */

#mPlayer {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
}

/* video player */

#mPlayer DIV {
  position: fixed;
  background: #000;
  width: 560px; /* width of YouTube Player */
  height: 315px; /* height of YouTube Player */
  left: calc(50vw - 280px); /* 280 is .5(560), centers x axis*/
  top: calc(50vh - 157px); /* 157 is .5(315), centers y axis*/
}

/* === popup media player css end === */
/* ====== simple snackbar =========*/
.snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
/* =========== simple snackbar end ===============*/
/* =========== warning for js disabled browser start ===*/
#noJS {
  border-style: solid;
  border-color: coral;
}
/* =========== warning for js disabled browser end ===*/

/* =========== css for autocomplete dropdown start ===*/

.tooltip {
  position: relative; 
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .ui-helper-hidden-accessible {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  
  /* Position the tooltip */
  position: absolute; 
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .ui-helper-hidden-accessible {  /*  .tooltip:hover .ui-helper-hidden-accessible*/
  visibility: visible;
}
/******* dropdown results css **********/

.element {
    display: block;
  /*  top: 30px;
    left: 303.967px;
    width: 356.767px; */
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-front {
    z-index: 100;
} /********** *********/
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #2b2b2b;
	text-decoration: none;
}
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}
/*  importent modified later*/
.ui-menu-item .imdbTitle{
    font-size: 0.9em;
    font-weight: bold;
}
.ui-menu-item .imdbCast{
    font-size: 0.7em;
    font-style: italic;
    line-height: 110%;
    color: #666;
}
.ui-menu-item .imdbImage{
    float: left;
    margin-right: 5px;
}
.ui-menu-item .clear{
    clear: both;
}
.container {
    display: block; 
    position:relative
}
.ui-autocomplete {
    position: relative;
    max-width: 414px;
    left: 300px;
}
#results{ 
    float:  left;
    position: absolute;
}
/* =========== css for autocomplete dropdown end   ===*/

/* =========== return to top start ===================*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* =========== return to top end   ===================*/
